@charset "uft-8";


* {text-align: center; }
body { 
    width: 700px; padding: 20px; 
    display: flex;
    justify-content: center;    
    margin: 0px auto;
}
a { text-decoration: none; color:black;}
a:visited{color:black;}

.title a:hover { color:greenyellow; width:450px;}
.footer a:hover { color:greenyellow; width:450px;}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0px;
}

.menu ul li { 
    width: 150px; height: 30px;
     display: inline-block;
}
.menu ul li:hover {background-color:greenyellow; color:green;}

.content {width: 600px; padding:20px 50px; }

.content .profile, .content .review { display: flex; }

.content .profile .pf-img, .content .review .rv-img { margin-right: 50px;}
